.DS_Store
node_modules
dist
public
bundle.js
*.pem
*.zip
*.crx
*.LICENSE.txt
output/pime/index.js
output/mcp/index.js
installer/wix/McBopomofo/bin
installer/wix/McBopomofo/*.msi
*.wixpdb
installer/wix/Bundle/bin
.wix
docs
coverage
junit.xml
report.json
openvanilla-mcbopomofoweb-*.tgz
