html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14pt;
  overflow: auto;
}

#edit_area {
  display: flex;
  flex-direction: column;
  border: 2px dashed #000;
  height: 100%;
  overflow: auto !important;
}

.navi {
  font-size: 11pt;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navi a {
  color: #999;
  text-decoration: none;
}

.navi a:hover {
  color: #900;
  text-decoration: none;
}

textarea {
  padding: 10px;
  resize: none;
  width: 100%;
  font-size: 14pt;
  border: 1px solid #ccc;
  border-radius: 0;
}

textarea:focus {
  border: 1px solid black;
  outline: none; /* Removes the blue ring */
}

textarea#text_area {
  flex-grow: 1;
  font-size: 14pt;
  line-height: 16pt;
  color: #000;
  border: 0;
  margin: 0;
  width: 100%;
  ime-mode: disabled;
  -webkit-ime-mode: disabled;
  -moz-ime-mode: disabled;
  -ms-ime-mode: disabled;
  min-height: 600px;
}

textarea#text_area::placeholder {
  color: #666;
}

textarea#text_area:focus {
  border: 0;
  outline: none;
}

textarea#text_area:focus ~ * #edit_area,
#edit_area:has(textarea#text_area:focus) {
  border: 2px solid black;
}

textarea#feature_user_phrases_text_area {
  height: 70%;
}

textarea#feature_excluded_phrases_text_area {
  height: 70%;
}

#function {
  position: absolute;
  padding: 10px 0 0 10px;
  color: #000;
}

#composing_buffer p {
  padding: 4px;
  background-color: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 14pt;
  color: #000;
}

#candidates {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  float: left;
  color: black;
}

#candidates td {
  color: black;
  font-size: 12pt;
  padding: 2px 2px;
}

.page_info {
  font-size: 10pt;
  color: #666;
  text-align: right;
}

#tooltip {
  background-color: lightyellow;
  color: #000;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  float: left;
  padding: 4px 8px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  width: 100%;
  overflow: auto !important;
}

.right {
  width: 100%;
  overflow: auto !important;
}

@media (min-width: 768px) {
  html,
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    height: 100%;
    overflow: hidden;
  }

  .feature {
    display: flex;
    flex-direction: row;
    min-height: 80%;
    height: 100%;
  }

  .left {
    width: 70%;
    overflow: hidden !important;
  }

  .right {
    width: 30%;
    overflow: auto !important;
    padding-left: 20px;
    margin: 0;
  }

  .main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
}

.right h2 {
  margin-top: 0;
}

.right table {
  font-size: 12pt;
}

.right table td {
  padding: 2px 0;
}

.right p,
.right li {
  margin: 5px 0;
  font-size: 10pt;
}

.right select {
  font-size: 12pt;
  min-width: 60%;
}

.option_title {
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

.main {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.cursor {
  color: red;
  animation: blink 0.7s infinite;
}

.marking {
  text-decoration: underline;
  background-color: lightcyan;
}

.highlighted_candidate {
  background-color: lightcyan;
  font-weight: bold;
}

.keyCap {
  padding: 4px 10px 4px 10px !important;
  font-size: 10pt;
}

.candidate {
  padding: 4px 10px 4px 0px !important;
  font-size: 12pt !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#dump_area {
  margin: 10px 0 10px 0;
  font-size: 10pt;
}

#dump_area ul li {
  list-style-type: decimal;
}

#loading {
  position: absolute;
  top: 0;
  left: 20;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: block;
}

div#feature_input {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#feature_user_phrases {
  display: none;
}

div#feature_text_to_braille {
  display: none;
}

div.text_to_braille_output {
  width: 100%;
  max-width: 100%;
}

div#feature_braille_to_text {
  display: none;
}

div#feature_add_bpmf {
  display: none;
}

div#feature_convert_hanyupnyin {
  display: none;
}

div.braille_to_text_output {
  width: 100%;
  max-width: 100%;
}

.credit {
  font-size: 10pt;
  height: 20px;
}

blockquote {
  background-color: #eee;
  margin: 10px 0 10px 0;
  padding: 20px;
}

.status_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#status {
  width: 100px;
  font-size: 12pt;
}

#status a {
  text-decoration: none;
  cursor: pointer;
}

#menu_visible {
  flex-grow: 1;
  font-size: 10pt;
  cursor: pointer;
  color: #666;
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
}

#menu_visible a {
  text-decoration: none;
  color: #666;
}

.phrase_generate {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}

.phrase_generate_input_output_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.phrase_generate_input_output_container textarea {
  height: 100%;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  a {
    color: #9999ff;
    text-decoration: none;
  }

  blockquote {
    background-color: #666;
  }

  textarea {
    background-color: #333;
  }

  #edit_area {
    border: 2px dashed #c8c8c8;
  }

  textarea#text_area:focus ~ * #edit_area,
  #edit_area:has(textarea#text_area:focus) {
    border: 2px solid #86c25e;
  }

  textarea#text_area::placeholder {
    color: #ccc;
  }

  textarea#text_area {
    color: #fff;
  }

  #composing_buffer p {
    background-color: #444;
    border: 1px solid #ccc;
    color: #ffffff;
  }
  .cursor {
    color: rgb(255, 68, 68);
  }

  #loading {
    color: #fff;
    background-color: #111;
    border: 2px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
