body {
  background-color: white;
  font-size: 9pt;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 12pt;
}

h2 {
  margin-top: 2em;
}

select {
  width: 180px;
  font-size: 12pt;
}

.option_title {
  vertical-align: top;
  text-align: right;
}

a {
  color: #0000ee;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  a {
    color: #9999ff;
    text-decoration: none;
  }
}

#excluded_phrases {
  display: none;
}

.toolbar {
  border: 1px solid #ccc;
  padding: 5px;
}

.active {
  text-decoration: underline;
}
